<footer>

  <div class="container">
    <div class="column">
        <div id="logo-section">
            <img src="{{logo.path}}" alt="my company" [style.height.px]="logo.height" />
          </div>
    </div>
    <div class="column footer-contact">
        <ul>
          
          <li><h3>Services</h3></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>

       </ul>
    </div>
     <div class="column">
    </div>
    <div class="column footer-contact">
           <ul>          
              <li>999 Fake Dr. Charlotte, NC 22209</li>
              <li id="footer-number"><a href="tel:9999999999">(999)-999-9999</a></li>
              <li id="privacy"><a href="#">Privacy Policy</a></li>
          
          </ul>
          <div>
          <ul id="social-links">          
              <li><a href="#"><img src="./assets/Facebook-Icon.png"></a></li>
              <li><a href="#"><img src="./assets/Instagram-Icon.png"></a></li>
              <li><a href="#"><img src="./assets/Linkedin-Icon.png"></a></li>
          
          </ul>
        </div>
    </div>
  </div>
</footer>