
footer{
    background-color:#598383;
    padding:20px 0 30px;
}

.column{
    display:inline-block;
    min-width:25%;
    color:white;

}
#logo-section>img{
    position:absolute;
    top:20px;
    left:20px;
}
.footer-contact >ul>li{
    font-size:18px;
    font-family: serif;
    padding:5px 0;
}
ul>li>a{
    text-decoration:none;
    color:white;
    font-family:serif;
}
#privacy{
    font-size:14px;
}
#social-links{
    padding-top:10px;
}
#social-links>li{
    display:inline-block;
}
#social-links>li>a>img{
    width:30px;
}

@media(max-width:600px){
    .column{
        display:inline-block;
        min-width:100%;
        text-align:center;
    
    }
    #logo-section>img{
        position:relative;
        top:auto;
        left:auto;
    }
    #logo-section{
        text-align:center;
    }
    #social-links >ul{
        display:inline-block;
    }
}