.card{
    display:inline-block;
   min-height:200px;
    width:25%;
}
.card-title{
    padding-top:10px;
}

.card-description >p{
    width:70%;
    margin:auto;
    padding-top:10px;

}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
}
@media(max-width:667px){
    .card{
        width:50%;
    }
}